@page
@model WCCG.PAS.Referrals.UI.Pages.IndexModel

<h2>Number of items - @Model.Referrals.Count()</h2>

<table class="table table-hover fs-4">
  <thead>
  <tr>
    <th scope="col">Referral Id</th>
    <th scope="col">Case number</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  @foreach (var referral in Model.Referrals)
  {
    <tr>
      <td>@referral.ReferralId</td>
      <td>@referral.CaseNumber</td>
      <td>
        <a asp-page="/ItemEditor" asp-route-id="@referral.ReferralId">Edit</a>
      </td>
    </tr>
  }
  </tbody>
</table>
<div class="float-end mt-3">
  @if (!string.IsNullOrEmpty(Model.ErrorMessage))
  {
    <p class="text-danger d-inline-block mt-2 mx-4 fs-5">
      @Html.Raw(Model.ErrorMessage)
    </p>
  }
</div>
